/* General styles */
#webpage-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-pic {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.nav_links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav_links a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.nav_links a:hover {
  color: grey;
  text-decoration: underline;
  text-decoration-color: rgb(181, 181, 181);
}

/* Dark mode styles */
.dark-mode #webpage-nav {
  background-color: #121212 !important;
  color: #ffffff !important;
}

.dark-mode .logo-text {
  color: #ffffff !important;
}

.dark-mode .nav_links a {
  color: #ffffff !important;
}

.dark-mode .nav_links a:hover {
  color: #bb86fc !important;
  text-decoration-color: #bb86fc;
}
